@import "../../../styles/mixins.pcss";

.navigation-container {
    width: 90%
}

.list {
    display: flex;

    @include phones {
        justify-content: space-between
    }
}

.item {
    padding: 26px;
    margin-right: 28px;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        color: #383BCF;
        border-bottom: 3px solid #383BCF;
    }

    @include phones {
        padding: 22px;
        font-size: 14px;
        margin-right: 0px;
    }
}