.tags {
    display: flex;
    margin-bottom: 30px;

    &-item {
        padding: 14px 22px;
        background: #F3F6F9;
        border-radius: 40px;
        margin-right: 8px;

        &:last-child {
            margin-right: 0
        }
    }
}