.headline-component {
    background: #43436B;
    color: white;
    
}

.container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.title {
    display: flex;
    align-items: center;
}

.page-title {
    opacity: 0.5;
    font-size: 14px;
}

.button {
    text-decoration: underline;
    cursor: pointer;
}