.edit-line-component {
  &.blocked {
    opacity: 0.5;
    filter: grayscale(100%);
    pointer-events: none;
  }
}

.title {
  display: grid;
  grid-template-columns: 3fr 1.5fr
}

.icon {
  display: flex;
  justify-content: flex-end;
}


.buttons {
  display: flex;
  justify-content: flex-end;
}

.button-icon {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}