.skill-component {
    display: grid;
    grid-template-columns: 5fr 1.5fr 1fr;
    align-items: center
}

.buttons {
    display: flex
}

.title {
    width: 80%
}

.percent {
    
}

.button {
    margin-right: 20px;

    &:last-child {
        margin-right: 0
    }
}