.skill-add-line-component {
    display: flex;
    justify-content: flex-end;

    &.blocked {
        opacity: 0.5;
        pointer-events: none;
    }
}

.title {
    margin-right: 8px;
}

.percent {
    margin-right: 30px;
}