extends ./main.pug

block content
    .welcome-section
        header.header
            .container.header-container
                .header__logo
                    a.header__link(href='#') РЯ
                ul.header__nav
                    li.header__nav-item 
                        a.header__nav-link(href='#')
                            | Обо мне
                    li.header__nav-item 
                        a.header__nav-link(href='#')
                            | Навыки
                    li.header__nav-item 
                        a.header__nav-link(href='#')
                            | Работы
                    li.header__nav-item
                        a.header__nav-link(href='#')
                            | Отзывы
                ul.header__social
                    li.header__social-item 
                        a.header__social-link(href='#')
                            +icon('insta', 'header__social-icon')
                    li.header__social-item 
                        a.header__social-link(href='#')
                            +icon('github', 'header__social-icon')
                    li.header__social-item 
                        a.header__social-link(href='#')
                            +icon('vk', 'header__social-icon')
                    li.header__social-item 
                        a.header__social-link(href='#')
                            +icon('envelope', 'header__social-icon')
                .header__mobile 
                    +icon('menu','header__mobile-icon')
        section.section.hero
            .container
                .hero__title 
                    .hero__subtitle Личный сайт #[br] веб-разработчика
                    .hero__name Яруллин #[br] Рустам
                .hero__scroll 
                    .hero__scroll-text Скролл
                    +icon('scroll-down','hero__scroll-icon')
                    
        section.section.userinfo 
            .container 
                .userinfo__content 
                    .userinfo__preview
                        +image('content/user.jpg', 'userinfo__image')
                        .userinfo__rows  
                            .userinfo__row
                                .userinfo__row-title Проживаю:
                                .userinfo__row-value Казань
                            .userinfo__row
                                .userinfo__row-title Возраст:
                                .userinfo__row-value 20 лет
                            .userinfo__row 
                                .userinfo__row-title Родился:
                                .userinfo__row-value 22 марта 2001
                    
                    .userinfo__info
                        .userinfo__info-title Привет, меня зовут
                        .userinfo__info-name Яруллин Рустам
                        .userinfo__info-text 
                            | Я занимаюсь разработкой современных сайтов и приложений.
                            | Мне нравится делать интересные и современные проекты.
                        .userinfo__info-additional
                            | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                            | Чуть позже я освежу в нём свой контент.
                            | А пока посмотрите, как тут всё классно и красиво!

    section.section.about 
        .about__image 
            +image('content/about-hands.png', 'about__image-img')
            +image('content/about-hands-horizontal.png', 'about__image-img-horizontal')
        .container.about-container
            .about__title Чем я могу быть полезен вам
            .about__subtitle 
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. #[br]
                | Чуть позже я освежу в нём свой контент. #[br]
                | А пока посмотрите, как тут всё классно и красиво! #[br]
            .about__content
                #skills-component
    
    section.section.works 
        .container.works-container
            .works__title Мои работы
            #works-component         
    
    section.section.reviews 
        .container.reviews-container
            #reviews-component

    footer.footer
        .container.footer-container
            .footer__column 
                .footer__date 
                    .footer__date-year © 2021
                .footer__user 
                    .footer__name Яруллин Рустам
                    .footer__subtitle Личный сайт #[br] веб-разработчика         

            .footer__column
                ul.footer__nav
                    li.footer__nav-item 
                        a.footer__nav-link(href='#')
                            | Обо мне
                    li.footer__nav-item 
                        a.footer__nav-link(href='#')
                            | Навыки
                    li.footer__nav-item 
                        a.footer__nav-link(href='#')
                            | Работы
                    li.footer__nav-item
                        a.footer__nav-link(href='#')
                            | Отзывы
                .footer__additional 
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                ul.footer__social
                    li.footer__social-item 
                        a.footer__social-link(href='#')
                            +icon('insta', 'footer__social-icon')
                    li.footer__social-item 
                        a.footer__social-link(href='#')
                            +icon('github', 'footer__social-icon')
                    li.footer__social-item 
                        a.footer__social-link(href='#')
                            +icon('vk', 'footer__social-icon')
                    li.footer__social-item
                        a.footer__social-link(href='#')
                            +icon('envelope', 'footer__social-icon')

            .footer__column
                .footer__quote
                    .footer__quote-text 
                        | Всегда пишите код так, будто сопровождать его будет 
                        | склонный к насилию психопат, который знает где вы живете
                    .footer__quote-author Martin Golding

            
        




                


